docker-compose.yml
docker-compose.yaml
Dockerfile
Dockerfile.*
.dockerignore

.env
.gitingore
.gitmodules
.git
.github
.editorconfig

node_modules/

.cache
.vite
.astro
.vscode
logs

README.md
README.txt

/flag.txt
/flag

/exploit