<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page_title }}</title>
    <link rel="stylesheet" href="/assets/index.bundle.css">
    <script type="text/javascript" src="/assets/index.bundle.js"></script>
</head>

<body>
    <div class="view">
        <div class="box">
            <div class="area justify event">
                <span class="quote quote-left"></span>
                <blockquote>
                    <span id="text" class="blockquote-justify">点击此处载入存档</span>
                </blockquote>
                <span class="quote quote-right"></span>
            </div>
            <div class="select-area prevent">
                <div class="select"><a href="/send" target="_self"><span>为 PangBai 留下一封信</span></a></div>
                <div class="select"><a href="/box" target="_self"><span>查看 PangBai の信箱</span></a></div>
            </div>
        </div>
    </div>
</body>

</html>