$primary-color-light: #a0867d;
$primary-color: #8d6e63;
$primary-color-dark: #56433c;

$secondary-color-dark: #d9cac5;
$secondary-color: #fdf2f3;
$secondary-color-light: #ffebee;

$extra-color-dark: #d18b94;
$extra-color: #ffb7c2;
$extra-color-light: #ffd2d8;

$view-top: min(max(100px, 20vh), 300px);
$mail-font-family: "Chinese Quote", -apple-system, BlinkMacSystemFont, "Apple Color Emoji", "Noto Color Emoji", "Segoe UI",
    Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif